<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
     "http://java.sun.com/dtd/web-app_2_3.dtd">

<!-- ============================================================= -->
<!-- Deployement descriptor for the "jppftest" Web Application.    -->
<!-- ============================================================= -->

<web-app>
  <display-name>jppftest</display-name>
  <description>jppftest</description>

  <!-- Establish the default list of welcome files -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
