**/classes/
**/classes-client/
**/classes-node/
**/classes2/
**/*.log
**/JPPFConfiguration.html
**/*.java.html
**/*.xml.html
**/*.properties.html
**/*.yaml.html
**/*.txt.html
**/*.sql.html
