<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClassPath.0" value="."/>
    <add key="ClassPaths.1" value="..|config;classes"/>
    <add key="ClassPaths.2" value=".|jppf.api.jar;jppf.example.tasks.jar;jppf.dotnet.api.generated.jar"/>
    <add key="ClassPaths.3" value="../..|common/classes;client/classes"/>
    <add key="ClassPaths.4" value="../../JPPF/lib|jmxremote/jppf-jmxremote_optional-1.1.jar;slf4j/slf4j-api-1.6.1.jar;slf4j/slf4j-log4j12-1.6.1.jar;log4j/log4j-1.2.15.jar"/>
    <add key="AssemblyPath.0" value="jni4net.n-0.8.8.0"/>
    <add key="AssemblyPath.1" value="jppf.api"/>
    <add key="AssemblyPath.2" value="jppf.dotnet.api"/>
    <add key="AssemblyPath.3" value="jppf.dotnet.api.generated"/>
  </appSettings>
</configuration>