<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
     "http://java.sun.com/dtd/web-app_2_3.dtd">

<!-- ============================================================= -->
<!-- Deployment descriptor for the "jppftest" Web Application.     -->
<!-- ============================================================= -->

<web-app>
  <display-name>JPPF_J2EE_Tests</display-name>
  <description>JPPF_J2EE_Tests</description>

  <servlet>
    <servlet-name>JPPFTestServlet</servlet-name>
    <servlet-class>test.org.jppf.test.setup.JPPFTestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>JPPFTestServlet</servlet-name>
    <url-pattern>/performTests</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout> 
  </session-config>

  <!-- Establish the default list of welcome files -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

	<resource-ref>
		<description>JPPF Connection Factory</description>
		<res-ref-name>eis/JPPFConnectionFactory</res-ref-name>
		<res-type>javax.resource.cci.ConnectionFactory</res-type>
		<res-auth>Application</res-auth>
		<!--<res-sharing-scope>Unshareable</res-sharing-scope>-->
	</resource-ref>

</web-app>
