<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/common/src/java/org/jppf/utils/TexFileSplitter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.jppf.utils.TexFileSplitter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-i C:/ftp/util/Dictionaries/enwiki-latest-pages-articles.xml -o C:/ftp/util/Dictionaries/split -n 360 -p wikipedia -e .xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="common"/>
</launchConfiguration>
