/csdoc/
/doc/
/download/
/faq/
/forums/
/javadoc/
/limesurvey/
/private/
/samples-pack/
/releases/
/screenshots/
/thebuggenie-4.1.0/
/tracker/
/tracker-410/
/websvn/
db_settings.inc.php