Options -Indexes
IndexIgnore */*
#php_flag magic_quotes_gpc Off
#php_value magic_quotes_gpc off
AddType application/x-java-jnlp-file JNLP
<IfModule mod_security.c>
   # Turn off mod_security filtering.
   SecFilterEngine Off

   # The below probably isn't needed, but better safe than sorry.
   SecFilterScanPOST Off
</IfModule>

RewriteEngine on

# route to new wiki URLs

RewriteRule ^wiki\/?(.*)$ "\/doc?v=5_1" [R]
RewriteRule ^doc\/v5(.*)$ "\/doc\/5.1$1" [QSA,R]
RewriteRule ^doc\/v4(.*)$ "\/doc\/4.2$1" [QSA,R]
RewriteRule ^doc\/v3(.*)$ "\/doc\/3.3$1" [QSA,R]
RewriteRule ^doc\/v2(.*)$ "\/doc\/2.5$1" [QSA,R]

#RewriteRule ^doc\/v5\/?$ "\/doc/index.php?v=5_1" [R]
#RewriteRule ^doc\/v4\/?$ "\/doc/index.php?v=4_2" [R]
#RewriteRule ^doc\/v3\/?$ "\/doc/index.php?v=3_3" [R]
#RewriteRule ^doc\/v2\/?$ "\/doc/index.php?v=2_5" [R]

# route to new Javadoc URLs

RewriteRule ^api-5\/?(.*$)$ "\/javadoc/5.1/$1" [QSA,R]
RewriteRule ^api-3\/?(.*$)$ "\/javadoc/3.3/$1" [QSA,R]
RewriteRule ^api-2.0\/?(.*$)$ "\/javadoc/2.5/$1" [QSA,R]
RewriteRule ^api\/?(.*$)$ "\/javadoc/4.2/$1" [QSA,R]

ErrorDocument 403 /JPPF-403.php
ErrorDocument 404 /JPPF-404.php
ErrorDocument 500 /JPPF-500.php
ErrorDocument 503 /JPPF-503.php
