/*body { background-color: #B8E6FE }    184, 230, 254 */
body { background-color: rgb(184, 230, 254) }   /* #B8E6FE */

.pageTitle { font-family: Arial, Helvetica, sans-serif; font-size: 24pt; font-weight: bold; text-align: center;
            color: #9B9DFD; background-color: #FFFFC0 } /* (155, 157, 253); (255, 255, 192) */

.header     { background: #FCCF62; color: #000080; font-size: 14pt } /* 252, 207, 98 */
.subheader  { background: #FCE6AC}  /* 252, 230, 171 */
.centeredCell {font-size: 12pt; font-family: Arial, Helvetica, sans-serif; text-align: center; valign: middle }
.nonCenteredCell {font-size: 12pt; font-family: Arial, Helvetica, sans-serif  }

h1, h2, h3 {font-family: Arial, Helvetica, sans-serif }
h3 { font-size: 14pt; color: #FFFF40 }
h4 { font-size: 12pt; color: #000060; font-weight: bold }
table  {font-size: 12pt; font-family: Arial, Helvetica, sans-serif }
.comic     {font-size: 10pt; font-family: Comic Sans MS, Arial, Helvetica, sans-serif }

.simpleList { list-style: none; text-indent: -20 }

.news { font-size: 9pt; font-family: Times New Roman, Times, serif;  color: #000060 }
.links { color: #000060; font-size: 12pt; font-family: Comic Sans MS, Arial, Helvetica, sans-serif }
/*.newsTitle { color: #8789CF; font-size: 11pt; font-family: Comic Sans MS, Arial, Helvetica, sans-serif; font-size: 12pt }*/
.newsTitle { color: #7678BE; font-size: 11pt; font-family: Comic Sans MS, Arial, Helvetica, sans-serif; font-weight: bold }
.ackTitle { color: #000060; font-size: 16pt; font-family: Comic Sans MS, Arial, sans-serif; font-weight: bold }
.ackText { text-align: center; color: #000060; font-size: 12pt; font-family: Comic Sans MS, Arial, sans-serif; /*font-weight: bold*/ }
.archiHeader { border: 1px solid #000060; color: #000060; background-color: #FCCF62; font-weight: bold; font-size: 20 }
/*.archiHeader { color: #000060; font-weight: bold; font-size: 20 }*/
